/* Global */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
body{
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.938rem;
    height: 100vh;
    justify-content: center;
}
.button{
    border-radius: 2rem;
    border: .13rem solid #f2f2f2;
    cursor: pointer;
    padding: 1rem 2rem;
}
.button:hover{
    background-color: transparent;
    color: #f2f2f2;
}
.button--orange{
      color: hsl(31, 77%, 52%);
}
.button--cyan{
    color: hsl(184, 100%, 22%);
}
.button--dark{
    color: hsl(179, 100%, 13%);
}
/* Card */
.card{
    display: flex;
    flex-direction: column;
    height: 27rem;
    justify-content: space-between;
    min-width: 16rem;
    padding: 2rem 3rem;
}
.card--sedans{
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.card--suvs{
    background-color: hsl(184, 100%, 22%);
}
.card--luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card__header, .card__body, .card__footer{
    max-width: 13rem;
}
.card__title{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
}
.card__info{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
    line-height: 1.7rem;
}
/* MQ */
@media screen and (max-width: 1075px) {
    body{
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    .card--sedans{
        border-bottom-left-radius: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .card--luxury{
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 0;
    }
}